body {
  background-image: url(assets/main2_back.webp);
  background-size: cover;
  min-height: 100vh;
}
.up {
  margin: auto;
  text-align: center;
  padding: 8px;
   margin: 0px 0px 2px 0px;
  background-color: rgba(255, 166, 0, 0.708);
  border-radius: 0rem 0rem 0.8rem 0.8rem;
}
input {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding: 12px; 
  color: white;
  margin: 2px 0px;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: rgba(128, 128, 128, 0.396);
}
button {
   width: 100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.77);
  font-weight: bold;
  padding: 12px;
  margin: 2px 0px;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: rgba(76, 37, 218, 0.888);
}
.enter {
  display: flex;
}
.container {
  width: 100%;
  margin: 2px 0px;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: #0da3f3de; /* dark blue-gray */
  color: #f1f1f1;
   border-radius: 0.8rem 0.8rem 0rem 0rem;
}
.group {
  flex: 1;
}
.card {
width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  padding: 12px;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: #06060ab8; /* soft warm ivory */
  color: #f6f1f1;
  display: flex;
  justify-content: space-between;
}
.mainBody {
  background-color: rgba(64, 67, 127, 0.418);
  padding: 8px;
  border-radius: 0.8rem;
}
.mes {
  width: 80%;
}
@media screen and (max-width: 600px) {
  .enter {
    flex-direction: column;
  }

}